@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-fallback {
    transition: opacity 0.3s ease;
}

body.loaded #loading-fallback {
    opacity: 0;
    pointer-events: none;
}